<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="server=127.0.0.1;user id=root;database=pddb;password=sasa;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="apk" value="D:\MyWork\室内\PD\PD.Services\PDUpLoadFile\APK\"/>
  </appSettings>
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
